{% extends 'app/base.html' %}
{% load staticfiles %}
{% block title %}
    New Email
{% endblock %}

{% block content %}
    {% if success %}
    <div class="alert alert-success">
      <strong>Success!</strong> Email Sent!
    </div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="email_address">Send To:</label>
            <input type="text" class="form-control" name="email_address" id="email_address" data-role="tagsinput">
        </div>
        <div class="form-group">
            <label for="subject">Subject:</label>
            <input type="text" class="form-control" name="subject" id="subject">
        </div>
        <div class="form-group">
            <label for="body">Email Content</label>
            <textarea class="form-control" id="body" name="body" rows="5"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Send</button>
    </form>
{% endblock %}
